<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyReservation{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/icons/icon-128x128.png">
        {% block stylesheets %}
			{# {{ encore_entry_link_tags('app') }} #}
			<link rel="stylesheet" href="/css/style.css">
			<link rel="stylesheet" href="/css/responsive.css">
			<link rel="manifest" href="/manifest.json">
		{% endblock %}

		{% block javascripts %}
			{# {{ encore_entry_script_tags('app') }} #}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
    </head>
    <body>
		{% block service_worker %}
            <script>
                if ('serviceWorker' in navigator) {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(registration => {
                            console.log('Service Worker registered with scope:', registration.scope);
                        }).catch(error => {
                            console.error('Service Worker registration failed:', error);
                        });
                }
            </script>
        {% endblock %}
        {% block header %}
			{% include "partials/_header.html.twig" %}
		{% endblock %}
		{% block body %}{% endblock %}
		{# include "partials/_footer.html.twig" #}
    </body>
</html>
